.recipe-node {
    max-width: 200px;
}

.recipe-node hr {
    border: none;
    border-top: 1px solid #e0e0e0;
}

.recipe-node .io {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 10px;
}

.recipe-node .io .outputs {
    border-left: 1px dashed #e0e0e0;
    margin-left: 8px;
    padding-left: 8px;
}

.recipe-node .io .io-entry {
    height: 22px;
    display: flex;
    gap: 8px;
    margin: 2px;
    align-items: center;
    white-space: nowrap;
}

.recipe-node .io .io-entry img {
    height: 100%;
}
