:root {
    font-family: "Mona Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

@font-face {
    font-family: 'Mona Sans';
    src:
      url('/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
      url('/fonts/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

@font-face {
    font-family: 'Hubot Sans';
    src:
      url('/fonts/Hubot-Sans.woff2') format('woff2 supports variations'),
      url('/fonts/Hubot-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }

html,
body,
#root {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

input, button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
